.line-container {
    margin-top: 50px;

}

.top-line{
    border: 0;
    background-color: rgb(15, 89, 89);
    height: 2px;
    margin: 0;
}
.bottom-line{
    border: 0;
    background-color: rgb(15, 89, 89);
    height: 2px;
    margin: 0;
}

.contactUs-cards {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    position: relative; /* Ensure positioning for blur effect */
}

.card {
    background-color: rgb(15, 89, 89);
    color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8); /* Default shadow */
    width: 200px; /* Increased width */
    height: 325px; /* Increased height */
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease; /* Added transition for filter */
}

.card:hover {
    transform: scale(1.3); /* Scale up card on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

.card.blurred {
    filter: blur(4px); /* Apply blur to non-hovered cards */
    pointer-events: none; /* Prevent interaction with blurred cards */
}

.avatar {
    width: 200px; /* Increased size */
    height: 200px; /* Increased size */
    border-radius: 60%;
    object-fit: cover;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Increased gap */
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.icon {
    display: flex;
    gap: 15px; /* Increased gap between icons */
    align-items: center;
    justify-content: center;
}

.icon i {
    font-size: 25px; /* Increased icon size */
    color: white;
}

.icons a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
