body {
    font-family: 'Roboto', sans-serif; /* Global font for the body */
    margin: 0;
    padding: 0;
}

#home {
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 80vh; 
    padding: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden; 
    background-color: whitesmoke;
}

#home::before {
    content: '';
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    z-index: -1; 
}

#feeds-box {
    font-family: 'Roboto', sans-serif; /* Apply global font to feeds-box */
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 70vw; 
    max-height: 80vh; 
    overflow-y: auto; 
    gap: 20px; 
    position: relative; 
    z-index: 2; 
}

#feeds-box::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

#feeds-box {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.feed-item {
    font-family: 'Roboto', sans-serif; /* Apply font to feed items */
    background-color: rgb(15, 89, 89); 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: white;
    padding: 20px; 
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    text-align: center; 
    box-sizing: border-box; 
}

.feed-image {
    width: 100%;
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 10px; 
}

.feed-content {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    font-size: 18px; 
    text-align: left; 
    margin: 0; 
    padding: 0; 
}

.feed-status.finished {
    color: green; 
}

.feed-status.in-progress {
    color: yellow; 
}

.feed-status.not-started {
    color: red; 
}

.icon-container {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    padding: 3px;
    font-family: 'Roboto', sans-serif; /* Ensure icons match surrounding text */
}

.feed-like,
.feed-status, 
.feed-location {
    margin: 5px 0; 
    font-family: 'Roboto', sans-serif; /* Apply font to icon text */
}

/* Additional styling for Font Awesome icons if needed */
.fas {
    font-family: 'Font Awesome 6 Free'; /* Ensure Font Awesome is correctly applied */
    font-weight: 900; /* Adjust weight if needed */
}


.feed-like .fa-heart {
    cursor: pointer;
    color: rgb(250, 247, 247); /* Default color */
}

.feed-like .fa-heart.liked {
    color: red; /* Color when liked */
}


